/*  -------------------------------------
    HORISONTAL RULE
-------------------------------------- */

.hr {
    color: @color-ui;
    border: none;
    border-bottom: 1px solid @color-ui;
    margin-bottom: (@base-spacing - 1);
    margin-bottom: unit(((@line-height - 1) / @font-size), rem);
}


/*  Dotted horizontal rule style
*/
.hr--dotted {
    border-bottom-style: dotted;
}


/*  Dashed horizontal rule style
*/
.hr--dashed {
    border-bottom-style: dashed;
}


/*  Even more whitespace
*/
.hr--more {
    margin-top: @large-spacing;
    margin-top: unit((@large-spacing / @font-size), rem);
    margin-bottom: (@large-spacing - 1);
    margin-bottom: unit(((@large-spacing - 1) / @font-size), rem);
}


/*  Not as wide horizontal rule
*/
.hr--narrow {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}