/*  -------------------------------------
    MAIN
-------------------------------------- */

html {
    font: @font-size-em ~"/" @line-height-value @font-family;
    color: @font-color;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
         -o-text-size-adjust: 100%;
            text-size-adjust: 100%;
}