/*  -------------------------------------
    MEDIA - IMAGES & VIDEO
-------------------------------------- */

img,
video {
    height: auto;
    max-width: 100%;
    display: block;
}

img.left {
    &:extend(.margin--left);
}

img.right {
    &:extend(.margin--right);
}

figure > img {
    display: block;
}

.video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 */

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
