/*  -------------------------------------
    TABLES
-------------------------------------- */

table {
    width: 100%;
    max-width: 100%;

    th, td {
        &:extend(.text-align--left);
        padding: (@small-spacing / 2);

        @media @bp2--min {
            padding: @small-spacing;
        }

        > * {
            margin: 0;
        }
    }
}

[colspan] {
    &:extend(.text-align--center);
}

[colspan="1"] {
    &:extend(.text-align--left);
}

[rowspan] {
    &:extend(.vertical-align--middle);
}

[rowspan="1"] {
    &:extend(.vertical-align--top);
}

.numerical {
    &:extend(.text-align--right);
}