/*  -------------------------------------
    BOXED
-------------------------------------- */

/*  Adds padding to element, to box off content.
*   Tip: Use to place a background color to your column.
*
*   <div class="box"><div>
*/

.include-box() when (@include-box = true) {
    .boxed, {
        &:extend(.cf all);
        display: block;
        padding: @base-spacing;

        /*  Removes the margin from last item.
        */
        > :last-child {
            margin-bottom: 0;
        }
    }

    /*  Just like boxed, but twice the size.
    */

    .boxed--large {
        &:extend(.boxed all);
        padding: @large-spacing;
    }

    /*  Just like boxed, but half the size.
    */

    .boxed--small {
        &:extend(.boxed all);
        padding: @small-spacing;
    }
}

.include-box;